@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.controls {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 1.25rem 0;
  text-align: center;
  transform: translateX(-50%);
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #ff5533;
  color: #fff;
  border-radius: 100%;
  border: 0;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}

.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px grey;
}